*{ 
  /* border: 1px solid red; */
  margin:0;
  padding:0;
  /* box-sizing: border-box; */
}

body{ 
  display:flex
  
}

.divv{ 

  height: 80vh;
 box-shadow: 0 0 2px 1px rgba(187, 236, 225, 0.897); 

}